//--- Ejercicio 1 ---//

$mycolor: red;
$valor: 8;

html {
    display: flex;
  }

.container-1 {
 padding: 10px;
 gap: 10px;
 display: flex;
}

.color-box-text {
color: white;
font-family: monospace;
font-weight: bold;
font-size: 120%;
border-radius: 4px;
padding: 10px;
width: 7vw;;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
}



$i: 0;

.base-color{
  background-color: $mycolor;
}

@for $i from 1 through 4 {
  .darken-#{$i} {
    background-color: darken($mycolor, $valor*$i)
  }
}

@for $i from 1 through 4 {
  .lighten-#{$i} {
    background-color: lighten($mycolor, $valor*$i)
  }
}


//--- Ejercicio 2 ---// cambiar el import de tema1 a tema2

@import "temas/tema1.scss";


//--- Ejercicio 3 ---//

.container-3 {
  padding: 10px;
  display: flex;
  height: 30px;


  :hover{
    background-color: rgb(7, 74, 74);
      }
 }

.bar-navegation {
  color: white;
  background-color: rgb(9, 118, 118);
  font-family: monospace;
  font-weight: bold;
  font-size: 120%;
  padding: 10px;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  }


@media (max-width: 600px) {
  .container-3 {
    flex-direction: column;;
   }

   .bar-navegation {
    width: 90vw;
    }
}


//--- Ejercicio 4 ---//

.container-4 {
  font-family: Helvetica, sans-serif;
  background-color:azure;
  width: 300px;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 130px;
}

#image{
  width: 322px;
  margin: -11px;
}

.published {
display: grid;
grid-template-columns: 90px 115px;
justify-content: end;
padding-top: 30px;
padding-bottom: 20px;
}

#published{
font-weight: bolder
}

#date{
  color: green;
}

.buttonmore{
  color: white;
  background-color: green;
  border: none;
  padding: 20px;
  
  :hover{
    background-color: aquamarine;
}
}

