body {
  font-size: 200%;
  margin: 0px;
  height: 80vh;
  color: chocolate;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

p {
  margin-right: 20px;
}

button {
  border: 1px solid gray;
  border-radius: 2px;
  font-size: 50%;
  color: aliceblue;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border: chocolate solid 1px;
  font-size: 50%;
}

.ng-invalid .ng-touched {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 50%;
}
