body {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  height: 10vh;
}

div {
  width: 90vw;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: flex-start;
  align-items: baseline;
  height: 10vh;
}

p {
  margin-right: 20vh;
  height: 10vh;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  text-decoration: underline aliceblue;
}
