body {
    font-family: monospace;
    margin: 2%;
    display: grid;
    align-items: center;
}

.calculadora {
font-size: 19px;
margin: -16px 0 -16px 0 ;
}

input {
    width: 23%;
    padding: 12px 20px;
    margin: 8px 0 8px 0;
    display: flexbox;
    flex: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    }

button {
        background-color: #c7b93e;
        border: none;
        color: white;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        
        }
        
.result {
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 23%;
    text-align: center;
}