.container-2 {
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
   }
  
  
  .box-base{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: rgb(255, 115, 0);
   }
  
  .box-important{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: rgb(255, 20, 20);
   }
  
   .box-warning{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: rgb(255, 188, 20);
   }
  
  .principal {
    font-size: 85%;
    font-family: Verdana;
    color: black;
    padding-top: 10px;
   }
  
  .secondary {
    font-family: Times New Roman;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
   }
  
  .box-shadow {
    background-color: rgb(255, 115, 0);
    width: 120px;
    height: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 5px 5px black;
   }